<md-bottom-sheet class="md-grid" layout="column">


    <div layout="row" layout-align="center center" ng-cloak>
        <h4>Для добавления объекта, нажмите на него, кликните вне окна или нажмите ESC, чтобы закрыть.</h4>
    </div>
    <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="ECL-300">

            <md-content layout-gt-sm="row" layout-padding>
                <div ng-repeat="item in items">
                    <div flex-gt-xs="25" layout="row">

                        <md-card md-theme-watch>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                                    <img style="height: 24px; width: {{item.width}}px"
                                         src="resources/img/icons/scheme/{{item.icon}}"/>
                                    <div class="md-grid-text"> {{ item.name }}</div>
                                </md-button>
                            </md-card-actions>
                        </md-card>

                    </div>
                </div>

            </md-content>
        </md-tab>
        <md-tab label="SAUTER EQJV125">

            <md-content layout-gt-sm="row" layout-padding>
                <div ng-repeat="item in items">
                    <div flex-gt-xs="25" layout="row">

                        <md-card md-theme-watch>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                                    <img style="height: 24px; width: {{item.width}}px"
                                         src="resources/img/icons/scheme/{{item.icon}}"/>
                                    <div class="md-grid-text"> {{ item.name }}</div>
                                </md-button>
                            </md-card-actions>
                        </md-card>

                    </div>
                </div>

            </md-content>
        </md-tab>
    </md-tabs>
</md-bottom-sheet>