<!--<div class="alert alert-dismissible alert-info">-->
<button type="button" class="close" data-dismiss="alert">×</button>
<strong>Тестовые пользователи!</strong> <br/>
<ul>
    <li><strong>admin / admin</strong> - с правами администратора
    <li><strong>user / user</strong> - с правами пользователя
</ul>
<!--</div>-->


<md-bottom-sheet class="md-list md-has-header">
    <md-subheader ng-cloak><strong>Тестовые пользователи!</strong></md-subheader>
    <md-list ng-cloak>
            <ul>
                <li><strong>admin / admin</strong> - с правами администратора
                <li><strong>user / user</strong> - с правами пользователя
            </ul>
            </div>

    </md-list>
</md-bottom-sheet>