<div class="container contain">
    <div class="well page">

        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <!--<md-tab label="КАРАТ-307">-->
                    <!--<md-content class="md-padding">-->
                        <!--<h1 class="md-display-2">КАРАТ-307</h1>-->
                        <!--<div layout="row" layout-sm="column" layout-align="space-around">-->
                            <!--<md-progress-circular md-mode="indeterminate" class="md-accent"-->
                                                  <!--ng-if="karatDataLoading"></md-progress-circular>-->
                        <!--</div>-->
                        <!--<h3>{{KaratError}}</h3>-->
                        <!--<md-list ng-repeat="(key, value) in karatData">-->
                            <!--<md-list-item class="md-3-line row">-->
                                <!--<img ng-src="resources/img/icons/ic_extension_black_24px.svg" class="md-avatar"-->
                                     <!--alt="icon">-->
                                <!--<div class="md-list-item-text">-->
                                    <!--<h3>{{key}}</h3>-->
                                    <!--<h4>{{value}}</h4>-->
                                <!--</div>-->
                                <!--<md-divider md-inset ng-if="!$last"></md-divider>-->
                            <!--</md-list-item>-->
                        <!--</md-list>-->

                    <!--</md-content>-->
                <!--</md-tab>-->
                <md-tab label="SAUTER EQJV125">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">SAUTER EQJV125</h1>

                        <md-list>
                            <md-list-item class="md-3-line row">
                                <img ng-src="resources/img/icons/ic_extension_black_24px.svg" class="md-avatar"
                                     alt="icon">
                                <div class="md-list-item-text">
                                    <h2>Дневная температурная уставка</h2>
                                    <md-input-container class="md-block">
                                        <input ng-model="sauterDayTemp"
                                               aria-label="qq"
                                               />
                                    </md-input-container>
                                    <div layout="row" layout-sm="column" layout-align="end">
                                        <md-progress-circular md-mode="indeterminate" class="md-accent"
                                                              ng-if="sauterDayloading"></md-progress-circular>
                                        <md-button class="md-raised" ng-click="setSauterDayTemp()"
                                                   style="" ng-if="!sauterDayloading" ng-disabled="sauterDayDisabled">
                                            Установить
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-3-line row">
                                <img ng-src="resources/img/icons/ic_extension_black_24px.svg" class="md-avatar"
                                     alt="icon">
                                <div class="md-list-item-text">
                                    <h2>Ночная температурная уставка</h2>

                                    <md-input-container class="md-block">


                                        <input id="sauterNightTemp" ng-model="sauterNightTemp"
                                               aria-label="qq"
                                               ng-disabled="sauterNightDisabled"/>
                                    </md-input-container>
                                    <div layout="row" layout-sm="column" layout-align="end">
                                        <md-progress-circular md-mode="indeterminate" class="md-accent"
                                                              ng-if="sauterNightLoading"></md-progress-circular>
                                        <md-button class="md-raised" ng-click="setSauterNightTemp()"
                                                   ng-if="!sauterNightLoading" ng-disabled="sauterNightDisabled">
                                            Установить
                                        </md-button>
                                    </div>

                                </div>
                            </md-list-item>
                            <md-list-item class="md-3-line row">
                                <img ng-src="resources/img/icons/ic_extension_black_24px.svg" class="md-avatar"
                                     alt="icon">
                                <div class="md-list-item-text">
                                    <h2>Насос</h2>
                                    <md-radio-group ng-model="sauterCoilVal">
                                        <md-radio-button ng-value="1" class="md-primary"> Включен
                                        </md-radio-button>
                                        <md-radio-button ng-value="0" class="md-primary">Выключен
                                        </md-radio-button>
                                    </md-radio-group>
                                    <div layout="row" layout-sm="column" layout-align="end">
                                        <md-progress-circular md-mode="indeterminate" class="md-accent"
                                                              ng-if="sauterCoilLoading"></md-progress-circular>
                                        <md-button class="md-raised" ng-click="setSauterCoil()"
                                                   ng-if="!sauterCoilLoading" ng-disabled="coilDisabled">
                                            Установить
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>


                            <md-list-item class="md-3-line row">
                                <img ng-src="resources/img/icons/ic_extension_black_24px.svg" class="md-avatar"
                                     alt="icon">
                                <div class="md-list-item-text">
                                    <h2>Трёхпозиционный клапан</h2>


                                    <md-radio-group ng-model="controlVal">
                                        <md-radio-button ng-value="0"
                                                         class="md-primary">0%
                                        </md-radio-button>
                                        <md-radio-button ng-value="30"
                                                         class="md-primary">30%
                                        </md-radio-button>
                                        <md-radio-button ng-value="100"
                                                         class="md-primary">100%
                                        </md-radio-button>
                                    </md-radio-group>
                                    <div layout="row" layout-sm="column" layout-align="end">
                                        <md-progress-circular md-mode="indeterminate" class="md-accent"
                                                              ng-if="sauterControlLoading"></md-progress-circular>
                                        <md-button ng-if="!sauterControlLoading" class="md-raised"
                                                   ng-click="setSauterControlVal()">Установить
                                        </md-button>
                                    </div>
                                </div>
                            </md-list-item>


                        </md-list>


                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

</div>