<md-toolbar class="md-theme-dark">
    <div class="md-toolbar-tools">
        <md-button aria-label="Меню" class="navButton" ng-click="toggleLeft()" class="md-primary"><img
                src="/resources/img/icons/ic_menu_white_24px.svg"/></md-button>
        <md-button href="#/home" style="text-transform: none; font-size: 20px;"><img src="/resources/img/logo.png"
                                                                                     style="width: 40px; height: 44px">
            Sensor
        </md-button>
        <span flex="" class="flex"></span>

        <md-menu ng-if="showErrorData">
            <md-button aria-label="alert" style="height: 64px;" ng-click="ctrl.openMenu($mdOpenMenu, $event)"
                       class="md-hue-1 demo-menu-open-button no_text_transform">

                <notification-icon animation="shake" count="errorSize">
                    <img ng-src="/resources/img/icons/ic_warning_white_24px.svg">
                </notification-icon>

            </md-button>
            <md-menu-content>
                <md-list-item class="md-2-line contact-item selected" ng-repeat="item in errorData">
                    <img ng-src="resources/img/icons/ic_warning_black_24px.svg" class="md-avatar" alt="img" />
                    <div class="md-list-item-text compact">
                        <h3 style="font-weight: bold">{{item.name}}</h3>
                        <p>{{item.error}}</p>
                    </div>
                </md-list-item>

            </md-menu-content>
        </md-menu>

        <md-menu ng-if="showRightMenu">

            <md-button style="height: 64px;" ng-click="ctrl.openMenu($mdOpenMenu, $event)"
                       class="md-hue-1 demo-menu-open-button no_text_transform">
                <img class="img-circle profile-image"
                     ng-src="/resources/img/icons/ic_build_white_24px.svg">
                Действия
                <b class="caret"></b>
            </md-button>
            <md-menu-content style="top: 60px" width="4">
                <md-menu-item>
                    <md-button ng-click="undo($event)"><img src="/resources/img/icons/ic_undo_black_24px.svg"/>
                        Отменить
                        <span class="md-alt-text" style="margin-left: 80px;"> {{ 'M-Z' | keyboardShortcut }}</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="redo($event)"><img src="resources/img/icons/ic_redo_black_24px.svg"/> Повторить
                        <span class="md-alt-text" style="margin-left: 75px;"> {{ 'M-Y' | keyboardShortcut }}
                        </span>
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="showUploadImageDialog($event)">
                        <img src="resources/img/icons/ic_file_upload_black_24px.svg"/> Загрузить изображение
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="showAlert($event)"><img src="resources/img/icons/ic_code_black_24px.svg"/> Код
                        схемы
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="saveScheme($event)"><img src="resources/img/icons/ic_save_black_24px.svg"/>
                        Сохранить схему
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="exitEdit($event)"><img src="resources/img/icons/ic_exit_to_app_black_24px.svg">
                        Выход из редактирования
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>


    </div>


</md-toolbar>


<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">


    <md-content ng-controller="LeftCtrl" class="sideNav" layout-padding>
        <div class="userView">
            <img class="background"
                 src="/resources/img/menu_bg2.jpg">
            <a href="#/user_settings" ng-click="close()">
                <img class="img-circle user_image"
                     src="/resources/img/people/{{account.firstName | lowercase}}-{{account.lastName | lowercase}}.jpg"/></a>
            <a href="#/user_settings" ng-click="close()" class="user_menu_name no_text_transform">{{account.firstName}}
                {{account.lastName}}
            </a>
            <br/>
            <a href="#/user_settings" ng-click="close()" class="user_menu_role no_text_transform">{{account.role}}
            </a>
            <div class="menu_sub_div"></div>
        </div>


        <div class="menu_div">
            <md-menu-item class="menu_list">

                <md-button ng-href="#/home" class="menu_button" ng-click="close()"><img
                        src="resources/img/icons/ic_home_white_24px.svg" class="images"/> Главная
                </md-button>
            </md-menu-item>
            <md-menu-item class="menu_list">
                <md-menu>

                    <md-button class="menu_button"
                               style="padding: 0;padding-left: 16px;left: 0;top: 0; text-transform: none;"
                               ng-click="$mdOpenMenu()"><img
                            src="resources/img/icons/ic_device_hub_white_24px.svg" class="images"/> Принципиальные схемы
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="item in schemes">
                            <md-button ng-href="/#/schemeView/{{item.id}}" ng-click="close()">
                                <img src="resources/img/icons/ic_playlist_add_check_black_24px.svg" class="images"/>
                                {{item.schemeName}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="addScheme($event);">
                                <img src="resources/img/icons/ic_playlist_add_black_24px.svg" class="images"/>
                                Добавить схему
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

            </md-menu-item>

            <md-menu-item class="menu_list">

                <md-button ng-href="#/dataView" class="menu_button" ng-click="close()"><img
                        src="resources/img/icons/ic_view_list_black_24px.svg" class="images"/> Доступ к данным
                </md-button>
            </md-menu-item>
            <md-menu-item class="menu_list">

                <md-button ng-href="#/users" class="menu_button" ng-click="close()"><img
                        src="resources/img/icons/ic_supervisor_account_white_24px.svg" class="images"/> Пользователи
                </md-button>
            </md-menu-item>
            <md-menu-item class="menu_list">

                <md-button ng-href="#/apiDoc" class="menu_button" ng-click="close()"><img
                        src="resources/img/icons/ic_description_white_24px.svg" class="images"/> Документация API
                </md-button>
            </md-menu-item>
            <md-menu-item class="menu_list">

                <md-button ng-href="#/tokens" class="menu_button" ng-click="close()"><img
                        src="resources/img/icons/ic_transfer_within_a_station_white_24px.svg" class="images"/> Сессии
                </md-button>

            </md-menu-item>
        </div>
        <md-divider></md-divider>
        <md-menu-item class="menu_list">
            <md-button ng-href="#/logout" class="menu_button" ng-click="close()"><img
                    src="/resources/img/icons/ic_exit_to_app_white_24px.svg" class="images"/> Выход
            </md-button>

        </md-menu-item>


    </md-content>


</md-sidenav>


