<div id="editDiagram" style="border: none; width:100%; height:93vh; padding-top: -8px; position:relative;"></div>



<md-button class="md-fab fab" style="background-color: #F50057;" aria-label="Добавить элемент" ng-click="showGridBottomSheet()">
    <md-tooltip md-direction="left">
        Добавить элемент
    </md-tooltip>
    <md-icon md-svg-src="../resources/img/icons/ic_add_white_24px.svg">
    </md-icon>
</md-button>

<md-sidenav class="md-sidenav-right" md-component-id="right"
            md-disable-backdrop md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>

    <md-content layout-margin>
        <p>
            This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>

    </md-content>

</md-sidenav>



