<div onload="init()">
    <div id="sample">
        <div id="myDiagramDiv"></div>
    </div>
</div>

<textarea id="mySavedModel" style="width:100%;height:235px">
{ "class": "go.GraphLinksModel",
  "linkFromPortIdProperty": "fromPort",
  "linkToPortIdProperty": "toPort",
  "nodeDataArray": [
{"key":"P1", "pos":"0 0", "text":"Process"},
{"key":"P2", "category":"Process", "pos":"450 200", "text":"Tank"},
{"key":"V1", "category":"Valve", "pos":"150 0", "text":"V1"},
{"key":"P3", "category":"Process", "pos":"180 300", "text":"Pump"},
{"key":"V2", "category":"Valve", "pos":"0 140", "text":"VM", "angle":270},
{"key":"V3", "category":"Valve", "pos":"300 300", "text":"V2", "angle":180},
{"key":"P4", "category":"Process", "pos":"600 0", "text":"Reserve Tank"},
{"key":"V4", "category":"Valve", "pos":"450 0", "text":"VA"},
{"key":"V5", "category":"Valve", "pos":"600 160", "text":"VB", "angle":90}
 ],
  "linkDataArray": [
{"from":"P1", "to":"V1", "color":"#e53935"},
{"from":"P3", "to":"V2" },
{"from":"V2", "to":"P1" },
{"from":"P2", "to":"V3"},
{"from":"V3", "to":"P3"},
{"from":"V1", "to":"V4", "color":"#e53935"},
{"from":"V4", "to":"P4", "color":"#e53935"},
{"from":"V1", "to":"P2", "color":"#e53935"},
{"from":"P4", "to":"V5"},
{"from":"V5", "to":"P2"}
 ]}
    </textarea>

<script src="../js/go.js"></script>

